@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&family=Nunito+Sans:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');



.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

@keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}


@keyframes mymove
{ from {top:-200px; opacity: 0;}
to {top:10px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {top:0px; opacity: 0;}
to {top:200px; opacity: 1;}
}

.navbars{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  margin-top: -55px;
  margin-left: -8px;
  // margin: 20px;
  width: 100vw;
  position: fixed;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  z-index: 2;
}
.nav-item{
  margin: 25px;
}
.geometry{
  height: 40px;
}

.headers{
  margin-top: 55px;
  font-size: 50px;
  // background-image: url('../assets/trees.jpeg');
  background: linear-gradient(transparent, #ffffff), url('../assets/meteor.jpg') no-repeat center; 
  background-size: cover; 
  // box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}
.heading{
  font-size: 120px;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px rgb(255, 255, 255); 
  height: 150px;
  position: relative;
  animation:mymove 3s ease-out forwards;
  animation-iteration-count: 1;
  z-index: 0;
  // animation: fadeIn linear 4s;
  // -webkit-animation: fadeIn linear 4s;
  // -moz-animation: fadeIn linear 4s;
  // -o-animation: fadeIn linear 4s;
  // -ms-animation: fadeIn linear 4s;
  color: white;

}

.heading, .me-list{
  display: flex;
  justify-content: center;
}
.me-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.adjectives{
  margin: 0px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px rgb(255, 255, 255); 
}

.hr{
  width: 1000px;
}
.hr-two{
  width: 1000px;

}
.hr-div{
  display: flex;
  justify-content: center;
}
.hr-div-two{
  display: flex;
  justify-content: center;
  margin-top: -140px;
}

.about{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  // font-size: 50px;
  margin: 0px
}
.experience{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Raleway', sans-serif;
  // font-size: 50px;
  margin: 20px
}
.experience-me{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2.5px 2.5px #000, 
  3px 3px 5px rgb(255, 255, 255); 
  // width: 50vw;
}

.about-me{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2.5px 2.5px #000, 
  3px 3px 5px rgb(255, 255, 255); 
  // width: 50vw;
}
.about-column{
  margin: 15px;
  margin-top: 0px;
}
.coding{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 682px;
}
// .col{

// }
.coding-title{
  font-size: 25px;
  // font-weight: 1000px;
  display: flex;
  // justify-content: center;
  // text-decoration: underline;
}
.management{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 580px;
}
.design{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 275px;
}
.icons{
  display: flex;
  justify-content: center;
  margin: 15px;
  // margin-top: 20px;
}
.icon{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  flex-wrap: wrap;
  margin: 19px;
  margin-top: 5px;
  // height: 30px;
}
.bulma{
  margin-left: 23px;
}
.semantic{
  height: 65px;
  width: 60px;
  margin-top: 7px;
  margin-left: 20px;
}
.semanticui{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.node{
  margin-left: 20spx;
}
.photoshop{
  margin-top: 22px;
  margin-left: 40px;
}
.design{
  margin-top: -20px;
}

.container{
  display: flex;
  // justify-content: center;
  // width: 800px;
  // margin-left: 400px;
  // margin-right: 400px;
  margin:200px;
  margin-top: 0px;
  text-align: justify;
  // text-justify: inter-word;
}
.episode{
  // text-decoration: none;
  color: black;
}

// EXPERIENCE 
.ga-logo{
  height: 60px;
  display: flex;
  margin-left: 40px;
}
.liverpool{
  margin-top: -200px;
// display: flex;
// justify-content: center;
// flex-direction: column;
}
.liv-logo{
  height: 75px;
  display: flex;
  justify-content: center;
  margin-top: -8px;
}
.liv-img{
  display: flex;
  justify-content: center;
}
.spire-logo{
  height: 90px;
  margin-top: 20px;
}
.spirelogo{
  display: flex;
  justify-content: center;
}
.col.experience-col{
  font-size: 20px;
  margin: 5px;
  width: 250px;
}
.row.experience{
  margin: 10px;
  width: 600px;

}
.sei{
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.sei-details{
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.sei-description{
  text-align: justify;
  font-size: 15px;
}

.project-title{
  font-size: 70px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2.5px 2.5px #000, 
  3px 3px 5px rgb(255, 255, 255); 
}
.container.projects{
  display: flex;
  justify-content: center;
  // font-size: 70px;
}
.slider{
  height: 500px;
}
.sliders{
  font-size: 30px;
  color: black;
}
// // .project{
// //   background-color: black;
// // }


@media only screen and (max-width: 1000px) and (min-width: 700px){
  .about-section{
    margin: 150px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 769px) and (min-width: 744px){
  .about-section{
    margin: 100px;
    margin-top: 0px;
  }
 
}
@media only screen and (max-width: 737px) and (min-width: 680px){
  .about-section{
    margin: 100px;
    margin-top: 0px;
  }
  @media only screen and (max-width: 835px) and (min-width: 536px){
    .header{
      display: flex;
      // justify-content: center;
      justify-content: flex-end;
      align-content: center;
      background-color: black;
      border-radius: 20px;
      color: white;
    }
    .heading, .me-list{
    display: flex;
    justify-content: center;
    }
    .heading{
      display: flex;
      // justify-content: flex-end;
      align-items: center;
    }
    .writer, .gamer {
      margin-left: -100px;
    }
    .traveller{
      margin-left: -70px;
    }
  }


  // .justine-solano {
  //   display: flex;
  //   justify-content: center;

  //   // flex-direction: row;
  //   // flex-wrap: wrap;
  //   width: 165%;
  //   // background-color: purple;
  // }
  
  // .iam{
  //   display: flex;
  //   // flex-direction: row;
  //   align-content: flex-end;
  //   // flex-basis: 100%;
  //   // flex: 1;
  //   // display: none;
  //   margin-top: 170px;
  //   margin-left: -180px;
  //   color: white;
  //   font-size: 55px;

  // }
}
// @media only screen and (max-width: 679px) and (min-width: 659px){
//   // .about-section{
//   //   margin: 100px;
//   //   margin-top: 0px;
//   // }
//   // .justine-solano {
//   //   // display: flex;
//   //   // justify-content: center;
//   //   // flex-direction: row;
//   //   // flex-wrap: wrap;
//   //   // width: 300%;
//   //   // background-color: purple;
//   // }
  
//   .iam{
//     display: flex;
//     // flex-direction: row;
//     // align-content: flex-end;
//     // flex-basis: 100%;
//     // flex: 1;
//     // display: none;
//     margin-top: -170px;
//     margin-left: -180px;
//     color: white;
//     font-size: 20px;

//   }
// }




// .some-page-wrapper {
//   margin: 100px;
//   display: flex;
//   justify-content: flex-end;
//   align-content: center;
//   // background-color: red;
//   font-family: 'Montserrat', sans-serif;
//   margin-top: 100px;
// }

// .row {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
// }

// .column {
//   display: flex;
//   flex-direction: column;
//   flex-basis: 100%;
//   flex: 1;
// }

// .justine-solano {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-start;
//   background-color: black;
//   height: 715px;
//   // width: 600px;
//   font-size: 75px;
//   color: white;
//   border-radius: 25px;
// }
// .justine-is{
//   color: black;
// }
// .iam {
//   // background-color: green;
//   height: 100px;
//   width: 100px;
//   color: black;
//   // display: flex;
//   // justify-content: flex-start;
//   // align-items: flex-end;
//   font-size: 75px;
// }
// .adjectives{
//   margin: 0px;
// }