@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&family=Nunito+Sans:wght@200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');



.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

@keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  40% {opacity:0;}
  50% {opacity:0;}
  60% {opacity:0;}
  100% {opacity:1;}
}


@keyframes mymove
{ from {top:-200px; opacity: 0;}
to {top:10px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {top:0px; opacity: 0;}
to {top:200px; opacity: 1;}
}

.burger{
  width: 100px;
  height: 20px;
  margin-top: 0px;
  z-index: 0;
}
.nav-item.burger{
  margin-left: 50px;
  margin-top: 40px;
  font-weight: bold;
  width: 200px;
  text-shadow: 1px 1px 1px #000, 
  6px 6px 6px rgb(133, 133, 133); 
}
.containers {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.nav{
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.columns {
  float: right;
  width: 100px;
  padding: 10px;
  height: 100px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rows {
display: flex;
justify-content: flex-end;
// flex-direction: row;
}

.navbar{
  margin-top: 100px;
  height: 20vh;
  width: 600px;
  background-color: grey;
  color: black;
}
.home{
  height: 100px;
}

.navbars{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  margin-top: -55px;
  margin-left: -8px;
  // margin: 20px;
  width: 100vw;
  position: fixed;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  z-index: 2;
}
.nav-item{
  margin: 25px;
}
.geometry{
  height: 40px;
}

.headers{
  margin-top: 55px;
  font-size: 50px;
  // background-image: url('../assets/trees.jpeg');
  background: linear-gradient(transparent, #ffffff), url('../assets/meteor.jpg') no-repeat center; 
  background-size: cover; 
  // box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}
.heading{
  font-size: 120px;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px rgb(255, 255, 255); 
  height: 150px;
  position: relative;
  animation:mymove 3s ease-out forwards;
  animation-iteration-count: 1;
  z-index: 0;
  // animation: fadeIn linear 4s;
  // -webkit-animation: fadeIn linear 4s;
  // -moz-animation: fadeIn linear 4s;
  // -o-animation: fadeIn linear 4s;
  // -ms-animation: fadeIn linear 4s;
  color: white;

}

.heading, .me-list{
  display: flex;
  justify-content: center;
}
.me-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.adjectives{
  margin: 0px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px rgb(255, 255, 255); 
}

.hr, .hr-two, .hr-three, .hr-four{
  width: 1000px;
}

.hr-div, .hr-div-three, .hr-div-four{
  display: flex;
  justify-content: center;
}
.hr-div-two{
  display: flex;
  justify-content: center;
  margin-top: -140px;
}
.hr-div-three{
margin-top: -100px;
}

.about{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  // font-size: 50px;
  margin: 0px
}
.experience{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Raleway', sans-serif;
  // font-size: 50px;
  // margin: 20px
}
.experience-me{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2.5px 2.5px #000, 
  3px 3px 5px rgb(255, 255, 255); 
  // width: 50vw;
}
.container.experience-container{
  display: flex;
  justify-content: center;
}

.about-me{
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2.5px 2.5px #000, 
  3px 3px 5px rgb(255, 255, 255); 
  // width: 50vw;
}
.about-column{
  margin: 15px;
  margin-top: 0px;
}
.coding{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 682px;
}
// .col{

// }
.coding-title{
  font-size: 25px;
  // font-weight: 1000px;
  display: flex;
  // justify-content: center;
  // text-decoration: underline;
}
.management{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 580px;
}
.design{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 275px;
}
.icons{
  display: flex;
  justify-content: center;
  margin: 15px;
  // margin-top: 20px;
}
.icon{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  flex-wrap: wrap;
  margin: 19px;
  margin-top: 5px;
  // height: 30px;
}
.bulma{
  margin-left: 23px;
}
.semantic{
  height: 65px;
  width: 60px;
  margin-top: 7px;
  margin-left: 20px;
}
.semanticui{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.node{
  margin-left: 20spx;
}
.photoshop{
  margin-top: 22px;
  margin-left: 40px;
}
.design{
  margin-top: -20px;
}

.container{
  display: flex;
  // justify-content: center;
  // width: 800px;
  // margin-left: 400px;
  // margin-right: 400px;
  margin:200px;
  margin-top: 0px;
  text-align: justify;
  // text-justify: inter-word;
}
.episode{
  // text-decoration: none;
  color: black;
}

// EXPERIENCE 
.ga-logo{
  height: 60px;
  display: flex;
  margin-left: 40px;
}
.liverpool{
  margin-top: -200px;
// display: flex;
// justify-content: center;
// flex-direction: column;
}
.liv-logo{
  height: 75px;
  display: flex;
  justify-content: center;
  margin-top: -8px;
}
.liv-img{
  display: flex;
  justify-content: center;
}
.spire-logo{
  height: 90px;
  margin-top: 20px;
}
.spirelogo{
  display: flex;
  justify-content: center;
}
.col.experience-col{
  font-size: 25px;
  margin: 40px;
}
.row.experience{
  margin: 20px;
  width: 800px;
  

}
.sei{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.sei-details{
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.sei-description{
  text-align: justify;
  font-size: 17px;
}

.project-title{
  display: flex;
  justify-content: center;
  font-size: 70px;
  // margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2.5px 2.5px #000, 
  3px 3px 5px rgb(255, 255, 255); 
}
.container.projects{
  display: flex;
  justify-content: center;
  // font-size: 70px;
}
.projects{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Raleway', sans-serif;
  // font-size: 50px;
  // margin: 20px;
  // height: 70vh;
}
.slider-settings{
  height: 450px;  
  width: 500px;
  z-index: 0;
//   display: flex;
// flex-direction: row;
}
.slide{
  height: 200px;
  width: 50px;
  background-color: rgb(0, 0, 0);
}
.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-left: 40px;
  margin-top: -20px;
}
.project-details-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-right: 40px;
  margin-top: -20px;
}
.col.project.slider-one{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.project-four, .project-three {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
}
.project-four-description, .project-three-description{
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}
.project-links{
  text-decoration: none !important;
  color:black;
}
.project-logo{
  margin-left: 125px;
  margin-top: 12px;
  height: 40px;
  width: 200px;
}
.project-logo.jetflix{
  margin-left: 150px;
  margin-top: 12px;
  height: 40px;
  width: 150px;
}
.project-logo.lotr{
  margin-left: 40px;
  margin-top: 12px;
  height: 40px;
  width: 370px;
}
.project-logo.frodder{
  margin-left: 125px;
  margin-top: 12px;
  height: 40px;
  width: 200px;
}

.contact{
  // width: 110vh;
  height: 10vh;
  background-color: black;
}